
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px 0;
}

main {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    transform: translate(-25px, 0px);
}

a {
    color: #007bff;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #000000;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

.flags {
  width: 16px;
    top: 2px;
}
